html, body {
    height: 100% ;
}
* {
    margin: 0 ;
    box-sizing: border-box ;
}
li, ul {
    padding: 0 ;
    list-style: none ;
}
img {
    object-fit: contain ;
}
.logo-container img {
    max-height: 100% ;
    width: 100% ;
}
.logo-container {
    margin: 10px ;
    justify-self: start ;
    padding-left: 50px ;
    max-height: 60px ;
}
.search-bar {
    display: inline-block ;
    padding: 20px ;
    justify-self: end ;
}
.search-bar input {
    border-radius: 10px ;
    height: 40px ;
    width: 350px ;
}
.top-grid {
    display: grid ;
    grid-template-columns: 50% 50% ;
    padding: 5px ;
    height: 100px ;
    width: 100% ;
}
.top-grid li button {
    height: 35px ;
    background: white ;
}
.nav-top {
    display: grid ;
    position: fixed ;
    z-index: 2000000 ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 80px ;
    background-color: #FF0004 ;
}
.nav-side {
    position: fixed ;
    left: 0 ;
    top: 80px ;
    bottom: 10px ;
    width: 100% ;
    background-color: #000000 ;
}
.rect-600-100 {
    width: 600px ;
    height: 100px ;
}
.nav-side a, .nav-side label {
    display: block ;
    padding: .85rem ;
    padding-left: 100px ;
    color: white ;
    background-color: #FF0004 ;
    -webkit-transition: all .25s ease-in ;
    transition: all .25s ease-in ;
}
.nav-side label:focus, .nav-side label:hover {
    color: rgba(255, 255, 255, 0.5);
}
.automargin {
    margin: auto ;
}
/* stackoverflow.com/questions/9100344/pure-css-multi-level-drop-down-menu */
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #333333; }
.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #333333; }
.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
.group-list a, .group-list label {
    text-decoration: none ;
    padding-left: 1rem;
    background: #FF0004 ;
}
.group-list label a {
    width: -webkit-max-content ;
    border-radius: 10px ;
}
.sub-group-list a, .sub-group-list label {
    padding-left: 2rem;
    background: #ff0004 ;
}
.sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 3rem;
    background: #FF0004 ;
}
.group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    min-width: 600px ;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
.nav__list input {
    height: 0 ;
}
.nav__list input[type=checkbox]:checked + label + ul {
    max-height: 5000000px ;
}
.scrolless::-webkit-scrollbar {
    display: none;
}
.scrolless {
    -ms-overflow-style: none ;
    scrollbar-width: none;
    overflow-y: scroll ;
}
.shop-master-grid {
    position: relative ;
    top: 150px ;
    left: 600px ;
    display: grid ;
    background-color: white ;
    margin: 10px ;
    border: 1px solid black ;
    align-self: center;
}
label {
    font: 1.5rem SansSerif white ;
    min-width: 600px ;
}
.rect-600-600 {
    width: 600px ;
    height: 600px ;
    background-color: #20c997 ;
}
.rect-600-200 {
    width: 600px ;
    height: 200px ;
    background-color: #0dcaf0 ;
}
.rect-600-400 {
    width: 600px ;
    height: 400px ;
}
.rect-600-300 {
    width: 600px ;
    height: 300px ;
}
.rect-600-150 {
    width: 600px ;
    height: 150px ;
}
.nav-side img {
    max-width: 600px ;
    max-height: 100% ;
}
.nav-side ul {
    border: 1px solid #FF0004 ;
}
.nav-side li label a img {
    display: inline-block ;
    box-shadow: 0 30px 40px rgba(0,0,0,0.2) ;
    max-height: 60px ;
    margin-right: 50px ;
}
.banner-strip {
    object-fit: fill ;
}
.grid {
    display: grid ;
    grid-template-columns: 50% 50%;
}
span {
    width: 100% ;
    height: 100% ;
}
