html, body {
    height: 100% ;
    overflow-y: scroll ;
}
* {
    margin: 0 ;
    box-sizing: border-box ;
    overflow: hidden ;
}
li, ul {
    padding: 0 ;
    list-style: none ;
}
img {
    object-fit: contain ;
}
.logo-container img {
    width: 100% ;
    max-height: 60px ;
}
.logo-container {
    display: flex ;
    margin: 10px ;
    line-height: 60px ;
    max-height: 60px ;
}
.search-bar {
    display: block ;
    padding-top: 20px ;
    justify-self: end ;
    width: 100% ;
}
.search-bar input {
    display: inline-block ;
    border-radius: 10px ;
    height: 40px ;
    width: 70% ;
    max-width: 500px ;
}
.search-bar button {
    display: inline-block ;
    background: #FFFFFF ;
    height: 40px ;
    border-radius: 5px ;
}
.top-grid {
    display: grid ;
    -ms-grid-columns: 50% 50% ;
    grid-template-columns: 50% 50% ;
    padding: 5px ;
    height: 100px ;
    width: 100% ;
}
.nav-top {
    display: grid ;
    display: -ms-grid ;
    position: fixed ;
    z-index: 2000000 ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 80px ;
    background-color: #FF0004 ;
}
.nav-side {
    position: relative ;
    left: 0 ;
    top: 80px ;
    z-index: 5000 ;
    width: 100% ;
}
.rect-600-100 {
    width: 600px ;
    height: 100px ;
}
.nav-side a, .nav-side label {
    display: flex ;
    padding: .85rem ;
    padding-left: 25% ;
    color: white ;
    background-color: #FF0004 ;
    -webkit-transition: all .25s ease-in ;
    transition: all .25s ease-in ;
}
.nav-side label:focus, .nav-side label:hover {
    color: rgba(255, 255, 255, 0.5);
}
.automargin {
    margin: auto ;
}
/* stackoverflow.com/questions/9100344/pure-css-multi-level-drop-down-menu */
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #333333; }
.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #333333; }
.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
.group-list a, .group-list label {
    text-decoration: none ;
    padding-left: 1rem;
    background: #FF0004 ;
}
.group-list label a {
    border-radius: 10px ;
}
.group-list {
    width: 100% ;
    background-color: #ff0004 ;
}
.sub-group-list a, .sub-group-list label {
    margin-left: 1rem ;
    padding-left: 1rem;
    background: white ;
    color: black ;
}
.sub-group-list label {
    border: 1px solid white ;
}
.sub-sub-group-list a, .sub-sub-group-list label {
    border-left: 4rem solid white ;
    border-right: 1px solid white ;
    background: #FF0004 ;
}
.group-list, .sub-group-list, .sub-sub-group-list {
    overflow: hidden ;
    -webkit-transition: max-height .5s ease-in-out ;
    transition: max-height .5s ease-in-out;
}
.nav-list {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
}
.nav-list li {
    width: 100% ;
}
.nav-list input {
    height: 0 ;
}
.nav-list input[type=checkbox]:checked + label + ul {
    max-height: 5000000px ;
}
.nav-item {
    width: 30% ;
}
.closeable {
    max-height: 0 ;
}
.scrolless::-webkit-scrollbar {
    display: none;
}
.scrolless {
    -ms-overflow-style: none ;
    scrollbar-width: none;
    overflow-y: scroll ;
}
.shop-master-grid {
    position: relative ;
    top: 150px ;
    left: 600px ;
    display: grid ;
    display: -ms-grid ;
    background-color: white ;
    margin: 10px ;
    align-self: center;
}
label {
    font: 1.5rem SansSerif white ;
}
span {
    display: table ;
}
.rect-600-600 {
    width: 600px ;
    height: 600px ;
    background-color: #20c997 ;
}
.rect-600-200 {
    width: 600px ;
    height: 200px ;
    background-color: #0dcaf0 ;
}
.rect-600-400 {
    width: 600px ;
    height: 400px ;
}
.rect-600-300 {
    width: 600px ;
    height: 300px ;
}
.rect-600-150 {
    width: 600px ;
    height: 150px ;
}
.nav-side img {
    display: inline-block ;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2) ;
    max-height: 60px ;
    margin-right: 50px ;
    overflow: hidden ;
}
.main-page {
    position: relative ;
    display: block ;
    top: 100px ;
    bottom: 10px ;
}
.main-page li {
    display: flex ;
    justify-content: center ;
    max-width: 1100px ;
    padding: 0.5rem ;
    margin: auto ;
}
.main-page li img {
    max-height: 300px ;
    border-radius: 20px ;
    min-width: 0 ;
}
.product {
    width: 100% ;
    border-radius: 20px ;
    height: 100px ;
    background-color: #ff0004 ;
}
.footer {
    position: relative ;
    bottom: -600px ;
    left: 0 ;
    height: 500px ;
    background-color: #000 ;
    width: 100% ;
}
.footer li {
    padding-left: 1rem ;
}
.footer li iframe {
    max-width: 50% ;
}
@media all and (max-width: 1250px) {
    .nav-item {
        width: 100% ;
    }
}
@media all and (max-width: 600px) {
    .search-bar button {
        position: relative ;
        top: -32px ;
        right: -85% ;
        cursor: pointer ;
        border: none ;
        text-indent: -9999px ;
        background: url("http://www.union5and10.com/s/cc_images/cache_905744329.png") no-repeat ;
        background-color: transparent ;
        width: 50px ;
        height: 50px ;
    }
    .nav-side a, .nav-side label {
        padding: 0.5rem ;
    }
    .search-bar input {
        width: 100% ;
    }
    label a {
        max-width: 300px ;
        font: 1rem SansSerif white ;
    }
    .nav-side img {
        max-height: 30px ;
    }
}
